body {
  background-color: #3e3e3e;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.calculator {
  background-color: #d7b5b5;
  width: 350px;
  height: 550px;
  border-radius: 50px;
  padding: 10px 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.calculator_display {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffffff;
  height: 80px;
  width: 350px;
  border-radius: 20px;
  font-size: 45px;
  display: flex;
  align-items:center;
  justify-content:right;
  padding-right: 25px;
  overflow: hidden;
  overflow-wrap: break-word;
  margin-top: 45px;
  border: none;
  text-align: right;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

input {
  outline: none;
}

.calculator_buttons {
  background-color: #ffffff;
  width: 320px;
  height: 350px;
  margin-top: 10px;
  padding: 15px;
  border-radius: 20px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.button_row {
  border-radius: 10px;
  text-align: center;
  height: 51px;
  margin: 13px;
}

.button_row button {
  width: 70px;
  height: 60px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  outline: none;
  background-color: #7b7575;
  color: #fff;
  margin-top: 5px;
  font-size: 30px;
}

.button_row > button:hover {
  background-color: rgba(0, 0, 0, 0.222);
  color: #855e5e;
}

.button_row > .operator {
  color: #ffffff;
  background-color: #855e5e;
}

.button_row > .otherkeys {
  color: #ffffff;
  background-color: #855e5e;
}

.button_row > .zero {
  width: 143px;
}

.button_row > .decimal {
  background-color: #855e5e;
}

.button_row > .equal {
  background-color: #855e5e;
}